body{
    color: rgba(250, 245, 215, 0.932);
    background: rgba(255, 0, 221, 0.911);
}
.heading
 { width: 80%; font-size: 22px; }
  #camera
   { border: 2px dashed black; width: 350px; height: 300px; }
    .name_of_objects, #result_object_name , #result_object_accuracy 
    { color: yellow; }